In [103]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [4]:
PATH = '/content/diabetes.csv'

In [5]:
df = pd.read_csv('diabetes.csv')

In [7]:
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [8]:
df.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [78]:
# Get data and label
data = df.drop(columns=['Outcome'], axis=1).values
label = df.Outcome.values

# Normalize data
standardized_data = StandardScaler().fit_transform(data)

# SVM

In [79]:
# Train test split
X_train, X_test, y_train, y_test = train_test_split(data, label, test_size = 0.25, stratify=label, random_state=3)

# Model
svm_model = svm.SVC(kernel='linear')

# Train
svm_model.fit(X_train, y_train)

# Evaluate
y_train_pred = svm_model.predict(X_train)
train_acc = accuracy_score(Y_train, y_train_pred)

y_test_pred = svm_model.predict(X_test)
test_acc = accuracy_score(y_test, y_test_pred)

print('Train accuracy:', train_acc)
print('Test accuracy:', test_acc)

Train accuracy: 0.7760416666666666
Test accuracy: 0.765625